@font-face {
  font-family: 'AlexBrushRegular';
  src: url('../AlexBrushRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* The following rules are deprecated. */

@font-face {
  font-family: 'Alex Brush';
  src: url('../AlexBrushRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}