/*******************
General
*******************/

body {
  overflow-x: hidden;
  font-family: sans-serif;
  cursor: default;
}

.full-page {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  top: 0;
  background-repeat: no-repeat;
  background-size: cover !important;
  z-index: -1;
  position: fixed;
  -webkit-filter: brightness(0.65) grayscale(0.4);
  filter: brightness(0.65) grayscale(0.4);
}



/*******************
Header
*******************/

header {
  top: 0;
  color: white;
  text-align: center;
  display: block;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;  
  background: url('https://www.gravatar.com/avatar/bf027800b209554dcd00e587a443bed6?s=400') center center;
  background-size: cover;
  margin: 10vh auto;
}

header h1 {
  font-size: 70px;
  font-weight: normal;
  font-family: 'AlexBrushRegular', sans-serif;
  margin-top: -5vh;
}

header p {
  font-size: 20px;
  margin-top: -5vh;
}

header a {
  color: white;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.genericon.genericon {
  font-size: 50px;
  width: 50px;
  height: 50px;
}



/******************
Overlay
******************/

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  position: fixed;
  z-index: 2;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/*******************
Portfolio
*******************/

.portfolio-list {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  text-align: center;
}

.portfolio-list img {
  max-width: 880px;
  width: 90vw;
  text-align: center;
}

.portfolio-list .description {
  max-width: 1000px;
  width: 50vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 10px;
  color: white;
  margin: 5vh auto;
  margin-bottom: 10vh;
  line-height: 1.5;
  overflow: hidden;
}



/*******************
Footer
*******************/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 14px;
  z-index: -1;
}



/*******************
Media Queries
*******************/

@media screen and (max-height: 550px) {
  
  /*****
  Header
  *****/
  
  .profile-img {
    width: 180px;
    height: 180px;
    margin: 5vh auto;
  }

  header h1 {
    font-size: 60px;
    margin-top: -6vh;
  }

  header p {
    font-size: 18px;
    margin-top: -8vh;
  }
  
  .genericon.genericon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  
  /*****
  Header
  *****/
  
  .profile-img {
    width: 150px;
    height: 150px;
    margin: 8vh auto;
  }
  
  header h1 {
    font-size: 46px;
    margin-top: -5vh;
  }
  
  header p {
    font-size: 16px;
    margin-top: -5vh;
  }
  
  .genericon.genericon {
    font-size: 48px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  
  /*****
  Overlay
  *****/
  
  .close {
    top: 10px;
    right: 10px;
  }
}

@media screen and (min-width: 1500px) {
  
  /*****
  Header
  *****/
  
  .profile-img {
    width: 230px;
    height: 230px;
    margin: 10vh auto;
  }
  
  header h1 {
    font-size: 84px;
  }
  
  header p {
    font-size: 22px;
  }
  
  .genericon.genericon {
    font-size: 56px;
    width: 56px;
    height: 56px;
  }
  
  /*****
  Overlay
  *****/
  
  .close {
    font-size: 54px;
  }
  
  /*****
  Footer
  *****/
  
  footer {
    font-size: 20px;
  }
}



/*******************
Text Selection
*******************/

::-moz-selection {
  background-color: rgba(0, 119, 255, 0.8);
}

::selection {
  background-color: rgba(0, 119, 255, 0.8);
}