@font-face {
  font-family: 'AlexBrushRegular';
  src: url('http://openfontlibrary.org/assets/fonts/alex-brush/0ac6d4d1fdda223fbbcd0640ced41b6a/b22285a3c572352dd81d4bd191d27637/AlexBrushRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* The following rules are deprecated. */

@font-face {
  font-family: 'Alex Brush';
  src: url('http://openfontlibrary.org/assets/fonts/alex-brush/0ac6d4d1fdda223fbbcd0640ced41b6a/b22285a3c572352dd81d4bd191d27637/AlexBrushRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}